* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    min-height: 200vh;
    background-image: url(images/background.png);
    background-size: 100%, auto; /* Set sizes for each background image */
    background-position: center, center; /* Set positions for each background image */
    background-repeat: repeat, no-repeat; /* Set repeat behavior if needed */
    padding: 10px 8%;
}

.container2 {
    width: 100%;
    min-height: 200vh;
    background-image: url(images/background2.png);
    background-size: auto; /* Set sizes for each background image */
    background-position: center; /* Set positions for each background image */
    background-repeat: no-repeat; /* Set repeat behavior if needed */
    padding: 10px 8%;
}


.logo {
    width: 350px;
    cursor: pointer;
 }

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;

}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.btn img {
    width: 40px;
}

.content {
    margin-top: 14%;
    color: #fff;
    max-width: 1000px;
}

.content h1 {
    font-size: 65px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px; 
}

.content form {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

.content form input {
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
}

.content form .btn{
    font-size: 15px;
    padding: 10px 30px;
}

.dialect-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    width: 20%;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

.dialect-cards .dialect {
    margin: 20px;
    background-color: white;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    padding: 5px;
}

.dialect-cards .dialect:hover {
    background-color: lightgray;
    border-color: lightgrey; 
}


.dialect-img {
    width:10%;
}
