* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    min-height: 200vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    padding: 10px 8%;
}

.logo {
    width: 350px;
    cursor: pointer;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 20px;
}

nav ul li a {
    color: white;
    background: #000;
    text-decoration: none;
    padding: 10px 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition effect */
}

nav ul li a:hover {
    background-color: rgb(63, 63, 63); /* New background color on hover */
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition effect */
}

.btn:hover {
    background-color: rgb(63, 63, 63); /* New background color on hover */
}

.btn img {
    width: 40px;
}

.content {
    margin-top: 14%;
    color: rgb(255, 255, 255);
    max-width: 1000px;
}

.content h1 {
    font-size: 65px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
}

.content p {
    background-color: black;
    padding: 15px;
    border-radius: 15px;
}


.dialect {
    background-color: black;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition effect */

}

.dialect-cards {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the minmax for your card size */
    gap: 20px; /* Space between cards */
    color: #000;
}

.dialect-name {
    color: white;
    margin: 10px 0;
}

.dialect-img img {
    width: 50%;
    border-radius: 15px;
}

.dialect:hover {
    background-color: rgb(63, 63, 63); /* New background color on hover */
    color: black; /* New text color on hover */
}
